# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
logs/*.log

# Output files (optional)
output/*.csv
output/*.xlsx